#main-container{
  width:100%;
  display: flex;
}

.left{
  background-color: #FFDB15;
  text-align: center;
  width:50%;
  height: 925px;
  border-right: 2px solid black;
  
  &__wrap-list{
    margin-top: 80px;
    margin-left: 150px;

    &__item-list{
      display: flex;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      
      &__h2{
      font-size: 2rem;
      padding-left: 50px;
      padding-top: 25px;
      }
    }  
  }
}

.right{
  background-color: #F5F5EF;
  text-align: center;
  width:50%;
  height: 925px;

  &__wrap-list{
    margin-top: 80px;
    margin-right:150px;

    &__item-list{
      display: flex;
      text-align: right;
      padding-top: 20px;
      padding-bottom: 20px;
     
      &__h2{
        font-size: 1.75rem;
        padding-right: 50px;
        padding-top: 25px;
      }
    } 
  }
}

h1{
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 60px;
}

img{
  max-width: 100px;
  max-height: 100px;
  display: block;
  padding: 10px;
}