#main-container {
  width: 100%;
  display: flex;
}

.height {
  height: 100%;
}

.padding {
  padding: 0;
  // margin-top: 50PX;
}


.left {
  background-color: #FFDB15;
  text-align: center;
  // width:50%;
  //height: 925px;
  border-right: 2px solid black;

  @media screen and (max-width: 992px) {
    border: none;
    border-bottom: 2px solid black;
  }

  &__wrap-list {
    width: 500px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 992px) {
      margin-top: 50px;
      width: 80%;
    }

    &__item-list {
      display: flex;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      align-items: center;
      &__h2 {
        font-size: 2rem;
        padding-left: 50px;
        //padding-top: 25px;

        @media screen and (min-width: 992px) and (max-width: 1200px) {
          font-size: 1.5rem;
          
        }
        @media screen and (max-width: 992px) {
          font-size: 2rem;
          padding-left: 20px;
          
        }

        @media screen and (max-width: 992px) {
          font-size: 1.5rem;
          padding-left: 0;
        }
      }
    }
  }
}

.right {
  background-color: #F5F5EF;
  text-align: center;
  // width:50%;
  // height: 100;

  &__wrap-list {
    width: 80%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;

    &__item-list {
      display: flex;

      //padding-top: 20px;
      padding-bottom: 20px;
      justify-content: end;
      align-items: center;
      &__h2 {

        text-align: right;
        font-size: 1.75rem;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 25px;

        @media screen and (min-width: 992px) and (max-width: 1200px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 992px) {
          font-size: 2rem;
          padding-left: 0;
        }

        @media screen and (max-width: 992px) {
          font-size: 1.5rem;
          padding-left: 0;
        }
        
      }
    }
  }
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 60px;
  @media screen and (max-width: 1200px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 520px) {
    font-size: 2rem;
  }
}

img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  padding: 10px;

  @media screen and (max-width: 992px) {
   // margin-left: 100px;
  }
  @media screen and (max-width: 540px) {
    max-width: 50px;
    max-height: 50px;
  }
}
