<div class="myContainer">
  <div class="row">
    <div class="white">

      <div id="wrap">
        <form (ngSubmit)="onSubmit()">
          <h1>
            Logowanie
          </h1>
          <div class="field-of-form">
            <label class="header-of-input">E-mail</label>
            <input type="text" class="input-form" [(ngModel)]="email" name="email">
          </div>

          <div class="field-of-form">
            <label class="header-of-input">Hasło</label>
            <input [type]="isChecked?'text':'password'" [(ngModel)]="password" class="input-form" name="password">
          </div>

          <div class="field-of-form mt-2">    
            <label class="header-of-input-2 "> <input type="checkbox" [(ngModel)]="isChecked" class="input-checbox" name="name">Pokaż hasło</label>
          </div>

          <button type="submit" class="btn"> ZALOGUJ </button>
        </form>
      </div>

    </div>
    <div class="yellow">

      <div class="imgDiv"><img [src]="'assets/images/p30.png'" alt=""></div>
    </div>
  </div>
</div>
