#separate {
  height: 60px;
}

.myContainer {
  height: 100%;
  //z-index: 100;
  display: flex;
  margin: 0;
  padding: 0;

  .row {
    width: 100%;
    //  height: 100%;
    margin: 0;
  }

  .imgDiv {
    max-width: 500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }


  h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
  }

  & .white {
    position: relative;
    background-color: #F5F5EF;
    border: 1px solid black;
    height: 100%;
    width: 53%;
    padding-top: 50px;
    //padding-left: 200px;
    z-index: 10;

    // height: 100px;
    span {
      
      font-size: 18px;
    }

    & #wrap {

      max-width: 500px;
      height: 650px;
      background-color: #FFDB15;

      display: flex;

      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      border-radius: 10px;
      box-shadow: 3px 3px 11px 0px #000000;

      form {

        width: 100%;

        & .field-of-form {
          margin-left: auto;
          margin-right: auto;
          max-width: 400px;

          & .header-of-input {
            padding: 10px 25px 10px 50px;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 3px;
            margin-right: 50px;
          }

          & .header-of-input-2 {
            // height: 20px;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 3px;
            display: block;
            //padding-left: 15px;
            // text-indent: -15px; 

            & .input-checbox {
              // width: 20px;
              // height: 20px;
              width: 20px;
              height: 20px;
              padding: 0;
              margin-right: 30px;
              vertical-align: middle;
              //  position: relative;
              // top: -1px;
              //  *overflow: hidden;
            }
          }



          & .input-form {
            background-color: #F5F5EF;

            width: 100%;
            margin: auto;
            display: block;
            padding-left: 10px;
            padding-right: 10px;
            border-color: #000000;


            &:hover {
              border-width: 2.5px;
              box-shadow: 1px 1px 6px 0px #000000;
            }

            &:focus {
              box-shadow: 1px 1px 6px 0px #000000;
              border-width: 2.5px;
              outline: none;
            }
          }
        }

        & .field-of-form.line {
          border-top: 1px solid black;
          margin-top: 20px;
        }

        & .field-of-form.line {
          border-top: 1px solid black;
          margin-top: 20px;
        }

        & .btn {
          // margin-left: 166px;
          background-color: #000000;
          color: #FFFFFF;
          margin: auto;
          display: block;
          width: 200px;
          height: 50px;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 3px;
          margin-top: 50px;
          margin-bottom: 25px;


          &:hover {
            color: #FFDB15;
            box-shadow: 3px 3px 25px 0px #000000;
          }

          &:focus {
            color: #FFDB15;
            box-shadow: none;
          }
        }
      }
    }
  }

  & .yellow {
    background-color: #FFDB15;
    border: 1px solid black;
    height: 100%;
    padding-top: 50px;
    width: 47%;
  }
}
