// Nowe

img {
  max-width: 100%;
  max-height: 100%;
  display: block;


}

.img--center {
  width: 400px;
  height: 400px;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.box {
  position: relative;
  padding: 50px 80px;
  height: 600px;
  @media only screen and (max-width: 600px){
    height: 400px;
    padding: 20px;
  }

  &--height-550{
    @media only screen and (max-width: 600px) {
      height: 550px;
    }
    @media only screen and (min-width: 601px) and (max-width:1230px){
      height: 650px;
    }
    
  }

  &__h1 {
    &--font-size{
      font-size: 2.75rem;
      @media only screen and (max-width: 600px){
        font-size: 2rem;
      }
      @media only screen and (min-width: 601px) and (max-width:1230px){
        font-size: 2.5rem;
      }
    }
  }

  &__h3 {
    &--font-size{
      font-size: 2.5rem;
      @media only screen and (max-width: 600px){
        font-size: 1.8rem;
      }
      @media only screen and (min-width: 601px) and (max-width:1230px){
        font-size: 2rem;
      }      
    }
  }
  
  &_h4
  {
    font-style: italic;
    font-size: 2rem;
  }

  &--yellow {
    background-color: #FFDB15;
    @media only screen and (max-width: 992px){
      display: none;
    }
  }

  &--white{
    background-color: #F5F5EF;
  }

  &--white-mobile{
    background-color: #F5F5EF;

    @media only screen and (max-width: 992px){
      background-color: #FFDB15;
    }
  }

  &--border-right {
    border-right: 2px solid black;
  }

  &--border-bottoms {
    border-bottom: 2px solid black;
  }

  &__footer {
    position: absolute;
    bottom: 50px;
    left: 80px;
    @media only screen and (max-width: 600px){
      bottom: 20px;
      left: 20px;
    }
  }
}
