<div class="container-fluid">

  <!-- row 1 -->
  <div class="row">
    <div class="col-12 col-lg-7 box box--white box--border-right box--border-bottoms">
      <h1 class="box__title">
        Odkryj z nami świat
      </h1>
      <h3 class="box__footer">
        Twoje podróże to nasza pasja!
      </h3>
    </div>

    <div class="col-12 col-lg-5 box box--yellow box--border-bottoms ">
      <div class="img--center">
        <img [src]="'assets/images/p30.png'" alt="">
      </div>
    </div>
  </div>

  <!-- row 2 -->

  <div class="row">
    <div class="col-12 col-lg-5 box box--yellow box--border-bottoms  box--border-right">
      <div class="img--center">
        <img [src]="'assets/images/p29.png'" alt="">
      </div>
    </div>
   
    <div class="col-12 col-lg-7 box box--white-mobile box--border-right box--border-bottoms">
      <h1 class="box__h1--font-size">
        Każda podróż ma swój punkt początkowy oraz punkt końcowy, to nasza definicja podróży
      </h1>
      <h3 class="box__footer">
        Inwestycja w podróże to inwestycja w siebie 
        <h4 class="box_h4">Matthew Karsten</h4>
      </h3>
    </div>
  </div>

    <!-- row 3 -->
    <div class="row">
      <div class="col-12 col-lg-7 box box--white box--border-right box--border-bottoms box--height-550">
        <h1 class="box__h1--font-size">
          Miej cały świat w zasięgu kliknięcia!
          Obranie celu to pierwszy, najważniejszy krok.
          Odważ się marzyć i uwierzyć we własne możliwości! 
        </h1>
        <h3 class="box__footer">
          Zwiedzaj świat.<br>To lepsze niż najpiękniejszy sen
          <h4 class="box_h4">Ray Bradbury</h4>
        </h3>
      </div>
  
      <div class="col-12 col-lg-5 box box--yellow box--border-bottoms box--height-550">
        <div class="img--center">
          <img [src]="'assets/images/p28.png'" alt="">
        </div>
      </div>
    </div>

     <!-- row 4 -->

  <div class="row">
    <div class="col-12 col-lg-5 box box--yellow box--border-bottoms  box--border-right box--height-550">
      <div class="img--center">
        <img [src]="'assets/images/p27.png'" alt="">
      </div>
    </div>
   
    <div class="col-12 col-lg-7 box box--white-mobile box--border-right box--border-bottoms box--height-550">
      <h1 class="box__h1--font-size">
        Każda podróż jest inna, nawet jeśli punkt
        końcowy i punkt początkowy jest taki sam.
        Liczy się właśnie pokonana droga!
      </h1>
      <h3 class="box__footer">
        Nie byłam wszędzie, ale wszędzie na pewno jest na mojej liście
        <h4 class="box_h4">Susan Sontag</h4>
      </h3>
    </div>
  </div>

</div>
