<div class="container-fluid">
  <div class="row">

    <!-- Kolumna lewa -->
    <div class="col-12 col-lg-5 left left--border-right">
      <h3 class="left__h3">FORMULARZ KONTAKTOWY</h3>
      <h4 class="left__h4">Coś nie działa?</h4>
      <h5 class="left__h4">Masz pomysł jak ulepszyć naszą stronę?</h5>
      <h5 class="left__h4">Może chcesz dołaczyć do naszego zespołu i pomóc nam ulepszać tą aplikację każdego dnia?</h5>
      <h5 class="left__h4">Napisz do nas! Odpowiemy na każde Twoje pytanie!</h5>
      <img [src]="'assets/images/p27.png'">
    </div>

    <!-- Kolumna prawa -->
    <div class="col-12 col-lg-7 right">
      <div class="right__wrap">
        <form (ngSubmit)="sendPost()">

          <div class="right__box">
            <label class="right__label">E-mail</label>
            <div class="right__input">
              <input type="text" [(ngModel)]="post.email" name="email">
            </div>

          </div>

          <div class="right__box">
            <label class="right__label">Imie</label>
            <div class="right__input">
              <input type="text" [(ngModel)]="post.name" name="name">
            </div>

          </div>

          <div class="right__box">
            <label class="right__label">Nazwisko</label>
            <div class="right__input">
              <input type="text" [(ngModel)]="post.surname" class="input-form" name="surname">
            </div>
          </div>

          <div class="right__box">
            <label class="right__label">Wiadomość</label>
            <div class="right__input">
              <textarea [(ngModel)]="post.message" type="text" class="input-form" name="message"></Textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center">
              <button type="submit" class="right__btn"> ZATWIERDŹ </button></div>
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center">
              <button type="reset" class="right__btn" (click)="clear()"> WYCZYŚĆ </button></div>
          </div>

        </form>
      </div>

      
      <div class="right__icon-wrap">
        <div class="row">
          <div class="col-4">
            <a href="https://www.facebook.com/" target="blank">
              <div class="right__icon">
                <i class="fa-brands fa-facebook-square"></i>
              </div>
            </a>
          </div>

          <div class="col-4">
            <a href="https://www.instagram.com/" target="blank">
              <div class="right__icon">
                <i class="fa-brands fa-instagram-square"></i>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a href="https://twitter.com/" target="blank">
              <div class="right__icon">
                <i class="fa-brands fa-twitter-square"></i>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
