
<h1>FORMULARZ KONTAKTOWY</h1>

<h2>Coś nie działa?</h2>
<h2>Masz pomysł jak ulepszyć naszą stronę?</h2>
<h2>Może chcesz dołaczyć do naszego zespołu i pomóc nam ulepszać tą aplikację każdego dnia?</h2>    
<h2>Napisz do nas! Odpowiemy na każde Twoje pytanie!</h2>

<div id="wrap">
    <form>
        <div class="field-form">
            <label class="form-label">E-mail</label>
            <input type="text" class="form-control" id="input1" >
        </div>
        <div class="field-form">
            <label class="form-label">Imię</label>
            <input type="text" class="form-control" id="input2">
        </div>
        <div class="field-form">
            <label class="form-label">Nazwisko</label>
            <input type="text" class="form-control" id="input3">
        </div>
        <div class="field-form">
            <label class="form-label">Wiadomość</label>
            <input type="text" class="form-control" id="inputMessage">
        <button type="submit" class="btn">ZATWIERDŹ</button>
        </div>
    </form>  
</div>