<div id="main-container">

  <div id="left">

    <h1>FORMULARZ KONTAKTOWY</h1>

    <h2>Coś nie działa?</h2>
    <h2>Masz pomysł jak ulepszyć naszą stronę?</h2>
    <h2>Może chcesz dołaczyć do naszego zespołu i pomóc nam ulepszać tą aplikację każdego dnia?</h2>
    <h2>Napisz do nas! Odpowiemy na każde Twoje pytanie!</h2>

    <img [src]="'assets/images/227.png'">
    <footer> Copyright 2022; Made and design by GrupaSuperDeveloperów</footer>
  </div>

  <div id="right">

    <div id="wrap">

      <form>

        <div class="field-of-form">
          <label class="header-of-input">E-mail</label>
          <input type="text" class="input-form" name="email">
        </div>

        <div class="field-of-form">
          <label class="header-of-input">Imie</label>
          <input type="text" class="input-form" name="name">
        </div>

        <div class="field-of-form">
          <label class="header-of-input">Nazwisko</label>
          <input type="text" class="input-form" name="surname">
        </div>

        <div class="field-of-form">
          <label class="header-of-input">Wiadomość</label>
          <input id="inputMessage" type="text" class="input-form" name="message">
        </div>

        <form action="*">
          <button type="submit" class="btn"> ZATWIERDŹ </button>
          <button type="reset" class="btn"> WYCZYŚĆ </button>
        </form>

      </form>

    </div>

    <div id="icon-wrap">

      <a href="https://www.facebook.com/" target="blank">
        <div class="icon">
          <i class="fa-brands fa-facebook-square"></i>
        </div>
      </a>

      <a href="https://www.instagram.com/" target="blank">
        <div class="icon">
          <i class="fa-brands fa-instagram-square"></i>
        </div>
      </a>

      <a href="https://twitter.com/" target="blank">
        <div class="icon">
          <i class="fa-brands fa-twitter-square"></i>
        </div>
      </a>
    </div>
  </div>

</div>
