<div class="container">
    <div id="nav" class="row d-flex justify-content-center">
        <div class="me-4 btn"><a type="submit" class="btn btn-success" routerLink="/admin">Poczta</a></div>
        <div class="me-4 btn"><a type="submit" class="btn btn-info me-4" routerLink="baza-krajow">Baza krajów</a></div>
        <div class="btn"><a type="submit" class="btn btn-light" routerLink="baza-faq">Baza FAQ</a></div>
        
    </div>
    <div class="row mt-4">
        <router-outlet></router-outlet>
    </div>
</div>
