<div id = "main-container">

    <div id = "left">

        <h1>PROFIL UŻYTKOWNIKA</h1>
        <div class = "wraper">
            <div class = "user-property">
                <label class = "header-of-property">IMIĘ</label>
                <input type = "text" class = "input-property" name = "name" >
            </div>
            <div class = "user-property">
                <label class = "header-of-property">NAZWISKO</label>
                <input type = "text" class = "input-property" name = "surname" > 
            </div>   
        </div>

        <div class = "wraper">
            <h1>MOJE CELE</h1>
            <button type = "button" class = "btn"> + DODAJ </button>   
        </div>

        <input class = "goals" type = "text" name = "goals">
        <footer> Copyright 2022;  Made and design by GrupaSuperDeveloperów</footer>
    </div>

    <div id = "right">
        <div class = "wraper">
            <h1>LISTA ODWIEDZONYCH <br> KRAJÓW</h1>
            <button type = "button" class = "btn"> + DODAJ </button> 
        </div>
        <input class = "goals" type = "text" name = "achieved-goals">
    </div>

</div>
