agm-map {
  height: 100%;
  // width: 100px;
}

.height {
  height: 100%;
}

.padding {
  padding: 0;
  // margin-top: 50PX;
}

h3 {
  text-align: center;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.pointer {
  cursor: pointer;
}

.noPointer {
  cursor: auto;
}

.header {
  text-align: center;

  &__h1 {
    &--padding-top {
      padding-top: 20px;

      @media screen and (max-width: 1134px) {
        font-size: 3rem;
      }
    }
  }

  h2 {
    @media screen and (max-width: 1134px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 410px) {
      font-size: 1.5rem;
    }
  }


  &__userName {
    display: flex;
    padding: 0;
    justify-content: center;

    i {
      font-size: 30px;
      padding-top: 12px;

      @media screen and (max-width: 1134px) {
        font-size: 18px;
        padding-top: 12px;
      }

      @media screen and (max-width: 410px) {
        font-size: 18px;
        padding-top: 4px;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__editName {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    //  display: flex;
    border-radius: 5px;
    // justify-content: center;

    &__box {
      text-align: left;
      display: flex;
      justify-content: center;
      width: 200px;
      height: 36px;
      background-color: #FFDB15;
      border-radius: 5px;
      box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.75);
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 1386px) {
        width: 300px;

        &:nth-child(1) {
          justify-content: left;
        }

        &:nth-child(2) {
          margin-right: 0;
          justify-content: left;
        }

        margin-bottom: 10px;
      }

      @media screen and (max-width: 1134px) {
        width: 450px;

        &:nth-child(1) {
          justify-content: left;
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-right: 0;
          justify-content: left;
        }

        margin-bottom: 10px;
      }

      @media screen and (max-width: 992px) {
        &:nth-child(1) {
          justify-content: left;
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-right: 0;
          justify-content: left;
        }

        margin-bottom: 10px;
      }

      &--width {
        width: 150px;

        @media screen and (max-width: 1386px) {
          width: 300px;

        }

        @media screen and (max-width: 1134px) {
          width: 450px;

          &:nth-child(3) {
            margin-right: 0;
          }
        }
      }

      &:hover {
        box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
      }

      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    &__input {
      background-color: #FFDB15;
      width: 300px;
      outline: none;
      margin-left: 5px;
      border: 0;

      &--width {
        width: 150px;
      }
    }

  }
}

.listy {
  padding-top: 20px;
  margin-top: 20px;
  border-top: #000000 2px solid;

  &__menu {
    border-right: #000000 2px solid;
    padding-top: 20px;
  }

  &__search {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;

    &__input {
      background-color: #FFDB15;
      width: 60%;
      outline: none;
      margin-left: 5px;
      border-radius: 5px;
      box-shadow: 1px 1px 10px 0px #000000;

      &:hover {
        box-shadow: 3px 3px 25px 0px #000000;
      }
    }
  }

  &__modal {
    width: 200px;
    height: auto;
    background-color: #FFDB15;
  }

  // button{
  //   background-color: #F5F5EF;
  //       border: 1px dashed black;
  //       border-radius:5px;
  //       outline: none;
  //       margin-top: 10px;
  //       justify-content: space-between;
  // }

  &__btn2 {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    
    &__btn {
      width: 95%;
      border: 1px dashed black;
      border-radius: 5px;
      background-color: #F5F5EF;
      margin-bottom: 10px;


      &:hover {
        box-shadow: 2px 2px 10px 0px #000000;
      }
    }
  }

  &__btn {
    display: inline-block;
    width: 95%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFDB15;
    color: #000000;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 0px #000000;
    margin-bottom: 20px;

    &__bg {
      background-color: #000000;
    }

    h5 {
      margin: 0;
    }

    &:hover {
      box-shadow: 3px 3px 25px 0px #000000;
    }

    &:focus {
      outline: none;
    }
  }

  & .listBox {
    background-color: #F5F5EF;
    width: 90%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: #FFDB15;
    }

    -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);

    & .heder {
      font-weight: bold;
      
      align-items: center;

      & div {
        vertical-align: middle;
      }

      & div.name {
        border-left: 1px dashed black;
        margin-right: auto;
      }

      & i {
        padding: 0;
        vertical-align: middle;
      }
    }

    & .collapseBox {
      border-top: 1px black solid;
      padding-top: 5px;
    }
  }

}

.myborder {
  border-right: 1px solid black;
}

.color {
  color: green;

  &__bc--white {
    background-color: #F5F5EF;
  }

  &__bc--yellow {
    background-color: #FFDB15;
  }
}

.row.border-dark.border-top {
  margin-right: 0;
}

#main-container {
  display: flex;

  & .listBox {
    background-color: #F5F5EF;
    width: 90%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    &:hover {
      background-color: #FFDB15;
    }

    -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);

    & .heder {
      font-weight: bold;

      align-items: center;

      & div {
        vertical-align: middle;
      }

      & div.namee {
        margin-right: auto;
      }

      & i {
        padding: 0;
        vertical-align: middle;

        &:hover {
          color: #F5F5EF;
        }
      }
    }

    & .collapseBox {
      border-top: 1px black solid;
      padding-top: 5px;
    }
  }

  & .input-property {
    background-color: #FFDB15;
    height: 36px;
    font-size: 16px;
    border: none;

  }


  & .icon {
    position: relative;
    bottom: 7px;
    padding-bottom: 6px;
    margin-right: 10px;
  }

  width: 100%;
  min-height: 100%;
  display: flex;

  & #userName {
    display: flex;
    justify-content: center;

    i {
      font-size: 30px;
    }
  }

  & #editName {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    //font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
  }

  h2 {
    text-align: center;
    //width: 400px;
    margin: 0;
  }

  & i {
    font-size: 20px;
    vertical-align: middle;
    margin-top: 10px;
    cursor: pointer;

  }

  span {
    position: relative;
    bottom: 4px;
  }

  .goals {
    width: 70%;
    height: 450px;
    padding: 25px;
    margin-left: 10%;
    border: none;
  }

  .wraper {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #left {
    width: 60%;
    padding-top: 10px;
    background-color: #F5F5EF;
    border-right-style: solid;
    border-color: #000000;
    border-right-width: 1px;

    .wraper {
      .user-property {
        padding: 25px;
        text-align: left;

        .header-of-property {
          font-size: 15px;
          margin-left: 75px;
          font-weight: bold;
        }


      }

      h1 {
        margin-left: 200px;
        padding: 50px;
      }
    }

    // .btn {
    //   background-color: #FFDB15;
    //   color: #000000;
    // }

    .btn:hover {
      background-color: #000000;
      color: #FFDB15;
    }

    .goals {
      background-color: #FFDB15;
    }

    footer {
      letter-spacing: 2px;
      padding: 15px;
      font-size: 20px;
      text-align: left;
    }
  }

  #right {
    width: 40%;
    //  margin-top: 100px;
    // text-align: center;

    h1 {
      margin-left: 150px;
    }

    .btn {
      margin-top: 85px;
      background-color: #F5F5EF;
      color: #000000;
    }

    .btn:hover {
      background-color: #000000;
      color: #F5F5EF;
    }

    .goals {
      margin: 15px;
      background-color: #F5F5EF;
    }
  }


}
