<div class="container-fluid height">
  <div class="row height">
    <div class="col-12 col-lg-7 myborder padding color__bc--white">
      <div class="row color__color--white header">
        <h1 class=" header__h1--padding-top">PROFIL UŻYTKOWNIKA</h1>
        <div class="header__userName">
          <h2>Witaj, {{user.name}} {{user.surname }}</h2>
          <i *ngIf="!edit" (click)="openEdit()" class="ms-2 fa-solid fa-gear"></i>
          
        </div>

        <!-- Edycja -->
        <div *ngIf="edit" class="header__editName ">
          <div class="row header__row">
            <div class="header__editName__box">
              <input 
              type="text" 
              placeholder="Imię" 
              [(ngModel)]="user.name"
               class="header__editName__input" 
               name="name">
            </div>

            <div class=" header__editName__box">
              <input type="text" 
              placeholder="Nazwisko" 
              [(ngModel)]="user.surname" 
              class="header__editName__input "
              name="surname">
              </div>

            <div class=" header__editName__box header__editName__box--width">
              <button type="submit" (click)="editUser()" class="btn">
                <i class="icon fa-solid fa-floppy-disk"></i>
                <span>Zmień</span>
              </button>
            </div>
            <div class="header__editName__box header__editName__box--width">
              <button type="submit" (click)="openEdit()" class="btn "><i
                  class="icon fa-solid fa-xmark"></i>
                <span>Anuluj</span>
              </button>
            </div>
          </div>
          <!-- <button (click)="changePassword()">zmien haslo</button> -->
        </div>

        <!-- Listy -->

        <div class="row listy">
          <!-- menu -->
          <div class="col-12 col-lg-3 listy__menu">
            <button type="submit" (click)="openCountryList()" class="btn listy__btn">
              <h5>Wszystkie kraje</h5>
            </button>
            <button type="submit" (click)=" openWishList()" class="btn listy__btn">
              <h5>Lista życzeń</h5>
            </button>
            <button type="submit" (click)="openMyList()" class="btn listy__btn">
              <h5>Moja lista</h5>
            </button>
          </div>

          <!-- listy krajow  -->
          <div class="col-12 col-lg-9">test</div>
        </div>
 
      </div>
    </div>

    <!-- mapy -->
    <div class="col-12 col-lg-5 padding">
      <agm-map [latitude]='lat' [longitude]='long' [zoom]="zoom" [usePanning]="true" [scrollwheel]="true">
        <agm-marker [latitude]="lat" [longitude]="long">
        </agm-marker>

      </agm-map>
    </div>

  </div>
</div>




<div id="main-container">

  <div id="left">

    <!-- <button (click)="changePassword()">zmien haslo</button> -->


    <div class="row border-dark border-top mt-4">
      <div class="col-3 pt-5  border-dark border-end">


        <div class="row ms-4">
          <button type="submit" (click)="openCountryList()" class="btn">
            <h5>Wszystkie kraje</h5>
          </button>


        </div>
        <div class="row mt-3">
          <div class="ms-4 col-4">
            <button type="submit" (click)=" openWishList()" class="btn">
              <h5>Lista życzeń</h5>
            </button>
          </div>

          <div class="row mt-3">
            <div class="ms-4 col-4">
              <button type="submit" (click)="openMyList()" class="btn">
                <h5>Moja lista</h5>
              </button>
            </div>
          </div>

        </div>
      </div>

      <div *ngIf="countryList" id="list" class="col-8 pt-4 ms-4">
        <h3 class="pb-1">Lista wszystkich krajów</h3>
        <div class="row pb-3">
          <div>
            <form>Wyszukaj: <input type="text" [(ngModel)]="searchTerm" (input)="search(searchTerm)" class="input-form"
                name="search"></form>
          </div>
        </div>
        <div class="scroll ">
          <div *ngFor="let k of searchKrajList | searchFilter: searchTerm; index as i" class="listBox">
            <div class="heder d-flex pointer" (click)="mapLocationAll(i)">
              <div>{{ i+1 }}.</div>
              <div class="namee">{{ k.name }}</div>
              <div *ngIf="!k.wish==true && !k.list===true" (click)=" addToWishList(i)" class="me-3 pe-3 myBorder">Cel
              </div>

              <div *ngIf="k.wish==true" class="me-3 pe-3 myBorder noPointer">Na liście celów</div>

              <div *ngIf="!k.list===true" (click)=" addToMyListFromKrajList(i)" class="me-3 pe-3 myBorder">Osiagnięte
              </div>
              <div *ngIf="k.list===true" class="me-3 pe-3 myBorder noPointer">Cel osiagnięty</div>

              <div><i class="icon fa-solid fa-location-dot"></i></div>
            </div>
            <!-- <div *ngIf="i===show" class="collapseBox">{{k.lat}},{{k.long}}</div> -->
          </div>
        </div>
      </div>

      <div *ngIf="wishlist" id="list" class="col-8 pt-4 ms-4">
        <h3 class="pb-3">Lista życzen</h3>

        <div class="scroll ">
          <div *ngFor="let k of myWishList; let i = index" class="listBox" (click)="mapLocationWish(i)">
            <div class="heder d-flex pointer">
              <div [ngClass]="{'color': k.list===true}">{{ i+1 }}.</div>
              <div class="namee">{{ k.name }}</div>
              <div (click)=" addToMyList(i)" class="me-3 pe-3 myBorder">Osiagnięte</div>
              <div (click)="removeFromWishList(i)" class="me-3 pe-3 myBorder">Usuń z listy</div>

              <div><i class="icon fa-solid fa-location-dot"></i></div>


            </div>
            <!-- <div *ngIf="i===show" class="collapseBox">{{k.lat}},{{k.long}}</div> -->
          </div>

        </div>
      </div>

      <div *ngIf="myList" id="list" class="col-8 pt-4 ms-4">
        <h3 class="pb-3">Lista krajów odwiedzonych</h3>

        <div class="scroll ">
          <div *ngFor="let k of myCountryList; let i = index" class="listBox" (click)="mapLocationMyList(i)">
            <div class="heder d-flex pointer">
              <div [ngClass]="{'color': k.list===true}">{{ i+1 }}.</div>
              <div class="namee">{{ k.name }}, stolica: {{k.capital}}</div>
              <div (click)="removeFromList(i)" class="me-3 pe-3 myBorder">Usuń z listy</div>

              <div><i class="icon fa-solid fa-location-dot"></i></div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div id="right">

  </div>
</div>
