<div class="container-fluid height">
  <div class="row height__row">
    <div class="col-12 col-lg-7  padding color__bc--white">

      <div class="row color__color--white header">
        <h1 class=" header__h1--padding-top">PROFIL UŻYTKOWNIKA</h1>
        <div class="header__userName">
          <h2>Witaj, {{user.name}} {{user.surname }}</h2>
          <i *ngIf="!edit" (click)="openEdit()" class="ms-2 fa-solid fa-gear"></i>

        </div>

        <!-- Edycja -->
        <div *ngIf="edit" class="header__editName ">
          <div class="row header__row">
            <div class="header__editName__box">
              <input type="text" placeholder="Imię" [(ngModel)]="user.name" class="header__editName__input" name="name">
            </div>

            <div class=" header__editName__box">
              <input type="text" placeholder="Nazwisko" [(ngModel)]="user.surname" class="header__editName__input "
                name="surname">
            </div>

            <div class=" header__editName__box header__editName__box--width">
              <button type="submit" (click)="editUser()" class="btn">
                <i class="icon fa-solid fa-floppy-disk"></i>
                <span>Zmień</span>
              </button>
            </div>
            <div class="header__editName__box header__editName__box--width">
              <button type="submit" (click)="openEdit()" class="btn "><i class="icon fa-solid fa-xmark"></i>
                <span>Anuluj</span>
              </button>
            </div>
          </div>
          <!-- <button (click)="changePassword()">zmien haslo</button> -->
        </div>

        <!-- Listy -->

        <div class="row listy">
          <!-- menu -->
          <div class="col-12 col-lg-3 listy__menu">
            <button type="submit" (click)="openCountryList()" class="btn listy__btn">
              <h5>Wszystkie kraje</h5>
            </button>
            <button type="submit" (click)=" openWishList()" class="btn listy__btn">
              <h5>Lista życzeń</h5>
            </button>
            <button type="submit" (click)="openMyList()" class="btn listy__btn">
              <h5>Moja lista</h5>
            </button>
          </div>

          <!-- listy krajow  -->
          <div class=" col-12 col-lg-9">

            <!-- Lista wszystkich krajow -->
            <div *ngIf="countryList">
              <h3>Lista wszystkich krajów</h3>

              <form class="listy__search">Wyszukaj:
                <input type="text" [(ngModel)]="searchTerm" (input)="search(searchTerm)" class="listy__search__input"
                  name="search">
              </form>

              <div class="scroll">
                <div *ngFor="let k of searchKrajList | searchFilter: searchTerm; index as i" class="listBox"
                  (click)="mapLocationAll(i)">

                  <div class="heder d-flex pointer">
                    <div class="me-2">{{ i+1 }}.</div>
                    <div class="me-3">{{ k.name }}</div>
                    <div class="name ps-3">stolica: {{ k.capital}}</div>


                    <div><i class="fa-solid fa-location-dot "></i></div>
                  </div>
                  <div class="listy__btn2">
                    <button *ngIf="!k.wish==true && !k.list===true" (click)=" addToWishList(i)" type="submit"
                      class="btn listy__btn2__btn">Dodaj do listy twoich celow</button>

                    <button *ngIf="!k.list===true" (click)=" addToMyListFromKrajList(i)"
                      class="btn listy__btn2__btn">Dodaj do listy krajow odwiedzonych</button>
                    <button *ngIf="k.wish==true" (click)="openWishList()" class="btn listy__btn2__btn">Na liście celów.
                      Kliknij aby otworzyc</button>
                    <button *ngIf="k.list===true" (click)="openMyList()" class="btn listy__btn2__btn">Cel osiagnięty.
                      Kliknij aby otworzyc</button>
                  </div>

                  <!-- <div *ngIf="i===show" class="collapseBox">{{k.lat}},{{k.long}}</div> -->
                </div>
              </div>
            </div>

            <!-- Lista zyczen krajow -->
            <div *ngIf="wishlist">
              <h3 class="listy__search">Lista życzen</h3>

              <div class="scroll ">
                <div *ngFor="let k of myWishList; let i = index" class="listBox" (click)="mapLocationWish(i)">

                  <div class="heder d-flex pointer">
                    <div class="me-2">{{ i+1 }}.</div>
                    <div class="me-3">{{ k.name }}</div>
                    <div class="name ps-3">stolica: {{ k.capital}}</div>
                    <div><i class="fa-solid fa-location-dot"></i></div>
                  </div>

                  <div class="listy__btn2">
                    <button (click)=" addToMyList(i)" class="btn listy__btn2__btn">Dodaj do listy
                      krajow odwiedzonych</button>
                    <button (click)=" removeFromWishList(i)" type="submit" class="btn listy__btn2__btn">Usun z listy
                      celow</button>
                  </div>

                  <!-- <div *ngIf="i===show" class="collapseBox">{{k.lat}},{{k.long}}</div> -->
                </div>

              </div>
            </div>

            <!-- Lista krajów odwiedzonych -->
            <div *ngIf="myList">
              <h3 class="pb-3">Lista krajów odwiedzonych</h3>

              <div class="scroll ">
                <div *ngFor="let k of myCountryList; let i = index" class="listBox" (click)="mapLocationMyList(i)">
                  <div class="heder d-flex pointer">
                    <div class="me-2">{{ i+1 }}.</div>
                    <div class="me-3">{{ k.name }}</div>
                    <div class="name ps-3">stolica: {{ k.capital}}</div>
                    <div><i class="icon fa-solid fa-location-dot"></i></div>
                  </div>
                  <div class="listy__btn2">
                    <button (click)="removeFromList(i)" type="submit" class="btn listy__btn2__btn">Usun z listy
                      celow</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- mapy -->
    <div class="col-12 col-lg-5 padding height__map color__bc--white">
      <agm-map [latitude]='lat' [longitude]='long' [zoom]="zoom" [usePanning]="true" [scrollwheel]="true">
        <agm-marker [latitude]="lat" [longitude]="long">
        </agm-marker>

      </agm-map>
    </div>

  </div>
</div>